h1 {
  margin: 0;
  letter-spacing: 15px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #000;
}
.app {
  background: #121212;
  height: 100vh;
  position: absolute;
  width: 100%;
}
.container {
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.todo-list {
  background: #121212;
  border-radius: 4px;
  max-width: 50%;
  display: block;
  margin: auto;
  margin-top: -60px;
  padding-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.todo-banner {
  width: 100%;
  height: 35vh;
  background-image: url(Media/Todo-Banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.Todo-heading.Text-container {
  display: flex;
  color: #fff;
  font-size: 40px;
  font-family: "poppins";
  margin: 20px 0px;
}
